.card.bg-base-100.shadow-xl
  .card-body
    .flex.items-center.justify-between.mb-2
      %h1.text-2xl.font-bold= t('.title')
      - if can? :create, City
        = link_to t('.add'), new_city_path, class: "btn btn-primary btn-sm"

    .overflow-x-auto
      %table.table.table-zebra
        %thead
          %tr
            %th= t('.name')
            %th= t('.actions')
        %tbody
          - @cities.each do |city|
            %tr
              %td.font-medium= city.name
              %td
                = link_to t('.show_weather'), daily_city_weather_path(city), class: "btn btn-primary btn-xs"
